html {
    box-sizing: border-box;
    height: -webkit-fill-available;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    -webkit-overflow-scrolling: auto;
    overflow-y: scroll;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    width: 100%;
    height: 100vh;
    height: -webkit-fill-available;
    color: var(--theme-color);
    position: relative;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

:root {
    --theme-bg-color: rgba(16 18 27 / 40%);
    --theme-color: #f9fafb;
    --popup-bg: rgb(22 25 37);
    --inactive-color: rgb(113 119 144 / 78%);
    --button-inactive: rgb(249 250 251 / 55%);
    --scrollbar-bg: rgb(146 151 179 / 13%);
    --select-bg: #21222a;
    --dropdown-bg: #f7f7f7;
    --dropdown-hover: rgba(113 119 144 / 25%);
    --border-color: rgba(113 119 144 / 25%);
    --hover-menu-bg: rgba(12 15 25 / 30%);
    --overlay-bg: rgb(1 2 3 / 80%);
    --content-title-color: #999ba5;
    --content-bg: rgb(146 151 179 / 13%);
    --about-bg: #2e313a;
    --modal-bg: #1a1c24;
    --card-bg: rgb(146 151 179 / 13%);
    --main-container-bg: rgba(16 18 27 / 40%);
    --tel-color: #3bf083;

    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.light-mode {
    --theme-bg-color: rgb(255 255 255 / 40%);
    --theme-color: #3c3a3a;
    --popup-bg: rgb(255 255 255);
    --inactive-color: #333333;
    --button-inactive: #3c3a3a;
    --scrollbar-bg: rgb(255 253 253 / 57%);
    --select-bg: #dbd3e6;
    --dropdown-hover: rgb(230 230 230);
    --border-color: rgb(255 255 255 / 50%);
    --hover-menu-bg: rgba(255 255 255 / 35%);
    --overlay-bg: rgb(1 2 3 / 80%);
    --content-title-color: #3c3a3a;
    --content-bg: rgb(255 255 255 / 40%);
    --about-bg: #f8f7fa;
    --modal-bg: #dbd3e6;
    --card-bg: rgba(255 255 255 / 70%);
    --main-container-bg: rgba(255 255 255 / 50%);
    --tel-color: #ff4b78;
}

.light-mode-bg {
    background: #dbd3e6;
    /* fallback for old browsers */
    background: linear-gradient(to left bottom,
            #cf4af3,
            #e73bd7,
            #f631bc,
            #fd31a2,
            #ff3a8b,
            #ff4b78,
            #ff5e68,
            #ff705c,
            #ff8c51,
            #ffaa49,
            #ffc848,
            #ffe652);
}

.app {
    background-color: var(--theme-bg-color);
    max-width: 1250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 14px;
    border: 1px solid var(--border-color);
    /* backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); */
    font-size: 15px;
    font-weight: 500;
}




/* HEADER */

.header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 58px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    padding: 0 10px;
    white-space: nowrap;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    width: 50px;
}

.logo::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 26px;
    border-radius: 30% 70% 30% 70% / 30% 70% 30% 70%;
    background: var(--theme-color);
}

.logo::after {
    content: '';
    position: absolute;
    height: 30px;
    width: 26px;
    border-radius: 70% 30% 70% 30% / 70% 30% 70% 30%;
    background: var(--theme-color);
    transform: translate(27px, 0);
}

.header-profile {
    display: flex;
    align-items: center;
    padding: 0 16px 0 40px;
    margin-left: auto;
    flex-shrink: 0;
}

.profile-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--theme-color);
    margin-left: 22px;
}



/* WRAPPER */

.wrapper {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}




/* LEFT SIDE */

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 240px;
    border-right: 1px solid var(--border-color);
    padding: 30px 20px;
    flex-shrink: 0;
}

.side-wrapper {}

.select-wrapper {
    margin-bottom: 20px;
}

.side-title {
    color: var(--content-title-color);
    margin-bottom: 14px;
}

.select {
    width: 100%;
    position: relative;
}

.select.open .select-dropdown {
    height: 100%;
    opacity: 1;
}

.select-input {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
    background-color: var(--content-bg);
    box-shadow: 0 0 0 2px rgb(134 140 160 / 2%);
    cursor: pointer;
}

.select-input:active {
    border: 1px solid var(--border-color);
}

.select-input::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-width: 10.4px 6px 0 6px;
    border-color: var(--theme-color) transparent transparent transparent;
    border-style: solid;
}

.select-dropdown {
    height: 0;
    opacity: 0;
    width: 100%;
    z-index: 1000;
    color: var(--theme-color);
    background-color: var(--content-bg);
    font-weight: 400;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    max-height: 400px;
    overflow: auto;
    box-shadow: 0 0 0 2px rgb(134 140 160 / 2%);
}

.select-list {
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1000;
}

.select-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid var(--border-color);
}

.select-item:last-child {
    border-bottom: none;
}

.select-item:hover {
    background-color: var(--content-bg);
    transition: all .2s ease;
}

.select-item.inactiv {
    cursor: default;
    pointer-events: none;
    color: var(--border-color);
}

.direct {
    font-weight: 500;
    color: var(--content-title-color);
}

.dark-light {
    cursor: pointer;
    margin-bottom: 20px;
}

.dark-light#light {
    fill: var(--theme-color);
}

.toggle-theme {
    display: flex;
    font-size: 20px;
    color: var(--theme-color);
}

#dark {
    margin-right: 10px;
    fill: var(--theme-color);
}

#light,
#dark {
    height: 20px;
}

.direct-text {
    margin-bottom: 5px;
    font-size: 12px;
}

.direct-mail {
    text-decoration: underline;
    color: var(--content-title-color);
    font-size: 12px;

}

.direct-mail:hover {
    color: var(--theme-color);
    font-weight: 600;
}




/* MAIN CONTAINER */

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    color: var(--theme-color);
    padding: 20px 40px;
    height: 100%;
    width: 100%;
    background-color: var(--main-container-bg);
    scroll-behavior: smooth;

}

.intro {
    position: relative;
    border-radius: 14px;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png"),
        linear-gradient(to right top,
            #cf4af3,
            #e73bd7,
            #f631bc,
            #fd31a2,
            #ff3a8b,
            #ff4b78,
            #ff5e68,
            #ff705c,
            #ff8c51,
            #ffaa49,
            #ffc848,
            #ffe652);
    margin-bottom: 20px;
    padding: 30px;
}

.intro-text-wrapper {
    width: 70%;
}

.h1 {
    font-size: 27px;
    font-weight: 700;
    color: #f9fafb;
    margin: 10px 0 10px 0;
    padding: 0;
}

.intro-text {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3;
    color: #ebecec;
    text-overflow: ellipsis;
}

.intro-img {
    position: absolute;
    bottom: 0;
    right: 40px;
    height: 85%;
}

/* --------------------CARD-------------------- */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg);
    border-radius: 14px;
    padding: 10px 20px;
    height: 310px;
    border: 1px solid var(--border-color);
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 0 0 0 2px rgb(134 140 160 / 2%);
}

.card:last-child {
    margin-bottom: 0;
}

.card:hover {
    background-color: var(--border-color);
}

.filter-hide {

    animation-name: a1;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes a1 {
    to {
        opacity: 0;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card-user {
    display: flex;
    align-items: center;
}

.card-ava {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    box-shadow: 0 0 0 2px rgb(134 140 160 / 2%);
}

.card-name-user {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.card-badges {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    width: 70%;
    font-size: 11px;
    font-weight: 500;
}

.card-badge-item {
    display: flex;
    align-items: center;
    margin: 0 0 5px 5px;
    padding: 5px 10px;
    border-radius: 14px;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
}

.card-dot-badge {
    width: 6px;
    height: 6px;
    background-color: #3bf083;
    margin-right: 5px;
    border-radius: 50%;
}

.card-body {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.card-galery-wrapper {
    margin-right: 20px;
}

.card-galery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.card-galery-item {
    height: 105px;
    width: 105px;
    border-radius: 10px;
}

.card-about {
    margin: 0 auto;
    width: 65%;
    height: 98%;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.5;
}

.click-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}




/* MODAL */

.modal-wrapper {
    position: relative;
}

.modal-background2 {
    background-color: var(--modal-bg);
}

.modal-wrapper.open .modal-overlay,
.modal-wrapper.open .modal {
    opacity: 1;
    z-index: 100;
}

.modal-wrapper.hide .modal-overlay,
.modal-wrapper.hide .modal {
    opacity: 1;
    z-index: 100;
}

.modal-wrapper.open .modal {
    transform: scale(1);
}

.modal-wrapper.open .modal-close {
    transform: scale(1);
}

.modal-wrapper.open .modal-overlay {
    background: var(--overlay-bg);
}

.modal-wrapper.hide .modal {
    transform: translateY(100%);
}

.modal-wrapper.hide .modal-overlay {
    background: transparent;
}

.modal-wrapper.hide .modal-close {}

.modal,
.modal-overlay {
    z-index: -1;
    opacity: 0;
}

.modal-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    transition: background .3s ease-in;
    overflow: auto;
}

.modal {
    position: fixed;
    bottom: 0;
    background-color: var(--main-container-bg);
    max-width: 1250px;
    width: 100%;
    height: 90%;
    overflow: visible;
    transform: translateY(100%);
    border: 4px solid var(--border-color);
    border-radius: 14px;
    transition: .3s ease-out;
    will-change: scroll-position;
    overflow: auto;
}



.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.user {
    display: flex;
    align-items: center;

}

.ava {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.name-user {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.badges {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    font-size: 14px;
    font-weight: 500;
}

.badge-item {
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 14px;
    background-color: var(--content-bg);
}

.dot-badge {
    width: 6px;
    height: 6px;
    background-color: #3bf083;
    margin-right: 5px;
    border-radius: 50%;
}

.modal-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;

}

.about,
.pricelist {
    width: 49%;
}

.about-text {
    background-color: var(--content-bg);
    padding: 30px 20px;
    border-radius: 14px;
    border: 1px solid var(--border-color);
    font-size: 18px;
    line-height: 1.3;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}

.address-wrapper {
    background-color: var(--content-bg);
    padding: 30px 20px;
    border-radius: 14px;
    border: 1px solid var(--border-color);
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    overflow: hidden;
    margin-bottom: 40px;
}

.address {
    padding: 10px 0;
    border-bottom: 1px solid var(--dropdown-hover);
}

.address:last-child {
    border-bottom: none;
}

.tel {
    color: var(--tel-color);
    text-decoration: underline;
}

.modal-title {
    color: var(--content-title-color);
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.pricelist-wrapper {
    background-color: var(--content-bg);
    padding: 20px;
    border-radius: 14px;
    border: 1px solid var(--border-color);
}

.pricelist-category {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--content-title-color);
}


.pricelist-item {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 8px 0;
    line-height: 1.8;
    border-bottom: 1px solid var(--dropdown-hover);
}

.pricelist-item:last-child {
    border-bottom: none;
}

.pricelist-name {
    margin-right: 40px;
    font-size: 18px;
    font-weight: 500;
}

.pricelist-discription {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
}

.price {
    text-align: right;
    width: 30%;
    font-size: 18px;
    font-weight: 500;
}

.modal-footer {
    padding: 20px 20px 100px 20px;

}

.portfolio {
    border-radius: 0 0 14px 14px;
    margin-bottom: 40px;
    overflow: hidden;
}

.portfolio-wrapper {
    display: flex;
    padding: 20px;
    border-radius: 14px;
    border: 1px solid var(--border-color);
    background-color: var(--content-bg);
    overflow: auto;

}

.portfolio-img {
    width: 300px;
    height: 300px;
    border-radius: 14%;
    object-fit: cover;
    border: 2px solid var(--border-color);
    margin-right: 20px;
}

.portfolio-img:last-child {
    margin-right: 0;
}

.social {}

.social-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--content-bg);
    border-radius: 14px;
    border: 1px solid var(--border-color);
    margin-bottom: 100px;
}

.social-icon {
    font-size: 40px;
    padding: 20px;
    margin-right: 10px;
    color: var(--inactive-color);
}

.social-icon:last-child {
    margin-right: 0;
}

.social-icon:hover {
    color: var(--overlay-bg);
}

.modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100px;
    position: fixed;
    bottom: 0;
    font-size: 40px;
    font-weight: 100;
    cursor: pointer;
    padding: 30px;
    background-color: rgb(146 151 179 / 13%);
    border-top: 1px solid var(--border-color);
    width: 100%;
    z-index: 100;
    transform: translateY(100%);
    transition: all .3s ease-out;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.close-text {
    margin-right: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 24px;
    pointer-events: none;
}

.fa-xmark {
    pointer-events: none;
}




























/* RESPONSIVE */

@media screen and (max-width: 1200px) {
    .main-container {
        padding: 20px;
    }

    .card-galery-wrapper {
        min-width: 220px;
    }

    .card-about {
        line-height: 1.5;
    }

}

@media screen and (max-width: 992px) {
    body {
        padding: 0;
    }

    .header {
        padding: 0 20px;
    }

    .app {
        border-radius: 0;
    }

    /* Left-side */

    .left-side {
        max-height: 65px;
        flex-direction: row-reverse;
        align-items: center;
        padding: 10px 15px;
        border-top: 1px solid var(--border-color);
    }

    .side-select {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .select-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .side-title {
        margin-bottom: 0;
        font-size: 11px;
        margin-right: -30px;
    }

    .select {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        align-items: end;
        width: 100%;

    }

    .select-input {
        height: 44px;
        width: 165px;
        display: flex;
        flex-wrap: nowrap;
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 8px 5px;
    }

    .select-input::after {
        transform: translateY(-70%);
        right: 5px;
        scale: 0.7;
    }

    .select-dropdown {
        position: absolute;
        bottom: 110%;
        right: 0;
        opacity: 0;
        width: 165px;
        height: 0;
        transition: .4s;
        border-radius: 10px;
        background-color: var(--select-bg);
    }

    .select.open .select-dropdown {
        width: 250px;
        height: 50vh;
        opacity: 1;
    }

    .select-item {
        font-size: 14px;
    }

    .dark-light {
        margin: 0;
    }

    .toggle-theme {
        padding: 5px;
    }

    .direct-text {
        display: none;
    }

    .direct-mail {
        display: none;
    }

    .main-container {
        background-color: var(--modal-bg);

    }

    /* Card */

    .card-about {
        font-size: 16px;
        line-height: 1.8;
    }

    /* Modal */

    .modal-body {
        flex-direction: column;

    }

    .about,
    .pricelist {
        width: 100%;
    }

    .about {
        margin-bottom: 40px;
    }

    .wrapper {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 768px) {

    /* Intro */

    .intro {
        padding: 20px;
    }

    .intro-text-wrapper {
        width: 70%;
    }

    .h1 {
        font-size: 22px;
    }

    .intro-text {
        font-size: 17px;
    }

    .intro-img {
        right: 20px;
    }

    /* Card */

    .card {
        padding: 10px 20px 20px;
    }

    .card-ava {
        height: 35px;
        width: 35px;
    }

    .card-name-user {
        font-size: 14px;
    }

    .card-badge-item {
        font-size: 10px;
    }

    .card-galery-wrapper {
        min-width: 205px;
    }

    .card-galery {
        gap: 5px;
    }

    .card-galery-item {
        height: 100px;
        width: 100px;
    }

    .card-about {
        font-size: 14px;
        line-height: 1.3;
    }

    /* Modal */

    .modal-header-wrapper {
        margin-left: 5px;
    }

    .ava {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }

    .name-user {
        font-size: 18px;
    }

    .badges {
        font-size: 12px;
    }

    .card-badge-item {
        /* margin-bottom: 5px; */
        margin-left: 5px;
        padding: 2px 5px;
    }

    .modal-title {
        font-size: 18px;
    }

    .about-text {
        padding: 25px 15px;
        font-size: 16px;
    }

    .address-wrapper {
        padding: 10px;
    }

    .address {
        font-size: 16px;
    }

    .pricelist-wrapper {
        padding: 15px;
    }

    .pricelist-name {
        font-size: 16px;
    }

    .pricelist-discription {
        font-size: 14px;
    }

    .price {
        font-size: 16px;
    }

    .portfolio-wrapper {
        padding: 15px;
    }

    .portfolio-img {
        width: 240px;
        height: 240px;
        margin-right: 15px;
    }

    .social-icon {
        font-size: 35px;
        padding: 15px;
        color: var(--inactive-color);
    }

    .close-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 576px) {
    .header {
        height: 50px;
        padding: 0;
        position: absolute;
        background-color: var(--theme-bg-color);
        z-index: 100;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        border: none;
    }

    .logo {
        scale: 0.9;
    }

    .main-container {
        padding: 50px 10px 10px;
    }

    /* Intro */

    .intro {
        padding: 20px 10px;
        margin: 30px 0;
    }

    .intro-text-wrapper {
        width: 100%;
    }

    .h1 {
        margin-top: 0;
        font-size: 19px;
    }

    .intro-text {
        font-size: 16px;
    }

    .intro-img {
        display: none;
    }

    /* Card */

    .card {
        padding: 5px 5px 10px 5px;
        height: 220px;
        margin-bottom: 10px;
    }

    .card-header {
        margin-bottom: 10px;
        padding: 0 0 0 5px;
    }

    .card-ava {
        height: 32px;
        width: 32px;
        margin-right: 5px;
    }

    .card-name-user {
        font-size: 12px;
    }

    .card-badge-item {
        font-size: 9px;
        padding: 2px 4px;
    }

    .card-dot-badge {
        height: 5px;
        width: 5px;
    }

    .card-galery-wrapper {
        margin-right: 10px;
        min-width: 152px;
        min-height: 152px;
    }

    .card-galery {
        grid-gap: 2px;
    }

    .card-galery-item {
        height: 75px;
        width: 75px;
    }

    .card-about {
        font-size: 13px;
        line-height: 1.5;
    }


    /* Modal */

    .modal-header {
        padding: 20px 15px;
    }

    .ava {
        width: 40px;
        height: 40px;
    }

    .name-user {
        font-size: 14px;
    }

    .badges {
        font-size: 10px;
    }

    .modal-title {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .modal-body {
        padding: 10px 10px 20px 10px;
    }

    .about {
        margin-bottom: 30px;
    }

    .about-text {
        padding: 15px 10px;
        font-size: 14px;
    }

    .address {
        font-size: 14px;
    }

    .pricelist-wrapper {
        padding: 10px;
    }

    .pricelist-name {
        font-size: 14px;
    }

    .pricelist-discription {
        font-size: 12px;
    }

    .price {
        font-size: 14px;
    }

    .modal-footer {
        padding: 10px 10px 50px 10px;

    }

    .portfolio {
        margin-bottom: 30px;
    }

    .portfolio-wrapper {
        padding: 10px;
    }

    .portfolio-img {
        margin-right: 10px;
    }

    .social-wrapper {
        margin-bottom: 80px;
    }

    .social-icon {
        font-size: 30px;
        padding: 10px;
        margin-right: 5px;
    }

    .modal-close {
        font-size: 20px;
    }

    .close-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 330px) {
    .card-galery-wrapper {
        margin-right: 10px;
        min-width: 102px;
    }

    .card-galery-item {
        height: 50px;
        width: 50px;
    }

    .card-about {
        font-size: 8px;
        line-height: 1.5;
    }
}







::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bg);
    border-radius: 50px;
}